/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Hide the scrollbar track and thumb */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}
.btn {
  color: #749BC2;
  font-weight: bolder;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s, color 0.5s;
}
.btn:hover {
  background-color: #d8944b;
  color: #000000;
  border-color: #d8944b;
}
a {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 25px;
  transition: 0.5s;
  color: #fff;
}
a:hover {
  background-color: #F6F4EB;
  color: #4682A9;
}
